{% extends "layout.html" %}
{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="{{ url_for('static', filename = 'quiz.js') }}"></script>

    <script>
        let quiz_data = {{quiz_data|tojson}}
        let correct_answers = {{correct_answers|tojson}}
        let id = {{id|tojson}}
        
    </script>
  <body>
    
  </body>


{% endblock %}
